<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="selectedToon">Character:</label>
      <select class="form-control" name="toon"
          ng-change="ctrl.characterSelected()" ng-model="ctrl.selectedToon"
          ng-options="c.name for c in ctrl.characters | orderBy:'name'">
      </select>
    </div>
    <div class="blueprints">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Type
            </th>
            <th>
              Location
            </th>
            <th>
              # Runs
            </th>
            <th>
              ME
            </th>
            <th>
              TE
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in ctrl.blueprints">
            <td ng-bind="item.TypeName"></td>
            <td ng-bind="item.Station.Name"></td>
            <td ng-bind="item.NumRuns"></td>
            <td ng-bind="item.TimeEfficiency"></td>
            <td ng-bind="item.MaterialEfficiency"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
