<!-- Reprocessing bits -->
<div class="row">
  <div class="col-md-8">
    <p class="well" uib-collapse="ctrl.hidePasteInput">
      Paste your cargo hold below.
    </p>
    <form ng-submit="ctrl.submitPaste()"
    uib-collapse="ctrl.hidePasteInput" name="pastebinForm">
      <station-picker search="ctrl.getStations(prefix)" location="ctrl.location"
      selected="ctrl.locationSelected(station)">
      </station-picker>
      <div ng-show="ctrl.location">
        <div class="form-group" ng-show="ctrl.authenticated">
          <label for="selectedToon">Which character are you using?</label>
          <select class="form-control" name="selectedToon"
              ng-change="ctrl.characterSelected()" ng-model="ctrl.selectedToon"
              ng-options="c.name for c in ctrl.chars | orderBy:'name'">
          </select>
        </div>
        <div ng-switch="ctrl.stationType">
          <div class="form-group" ng-switch-when="npc">
            <label for="inv_standing">
              What is your standing with <strong>{{ ctrl.corporationName }}</strong>?
            </label>
            <input type="number" id="inv_standing" name="standing" value="0.0"
            min="-10.0" max="10.0" step="0.01" ng-model="ctrl.standing"
            ng-change="ctrl.updateTaxRate()">
            <p>
              <small>
                (This standing equates to a tax rate of {{ ctrl.taxRate | number:2 }}%,
                and the station's refining efficiency is
                {{ ctrl.reprocessingEfficiency | number:0 }}%).
              </small>
            </p>
          </div>
          <div ng-switch-when="player">
            <div class="form-group">
              <label for="inv_taxrate">
                What is your tax rate (in percent) at this outpost?
              </label>
              <input type="number" id="inv_taxrate" value="0.0"
                min="0.0" max="100.0" step="0.1" ng-model="ctrl.taxRate">
            </div>
            <div class="form-group">
              <label for="inv_reproRate">What is this outpost's reprocessing efficiency? (in percent)</label>
              <input type="number" id="inv_reproRate" value="50"
              min="50" max="55" step="1" ng-model="ctrl.reprocessingEfficiency">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="scrapSkill">What is your Scrapmetal Reprocessing skill level?</label>
          <input type="number" id="scrapSkill" ng-model="ctrl.scrapSkill" value="0" min="0" max="5" step="1">
        </div>
      </div>
      <textarea name="pastearea" ng-model="ctrl.pastebin" rows="10" cols="80"
        placeholder="Paste an inventory here." class="form-control" required></textarea>
      <button name="submit" type="submit" class="btn btn-primary btn-block"
        ng-disabled="pastebinForm.$invalid">Submit</button>
    </form>
    <div id="inv_results">
      <div id="inv_results_info" ng-show="pastebinForm.$submitted">
        <p>
          You are at <strong ng-bind="ctrl.location.name"></strong>.
        </p>
      </div>
      <div id="inv_status" uib-collapse="!ctrl.searchingMarket" class="bg-info">
        <p class="text-info">
          <span class="spinner spinner-xs spinner-inline"></span>
          Searching market; please wait.
        </p>
      </div>
      <table ng-show="ctrl.hidePasteInput" class="table table-striped">
        <thead>
          <tr>
            <th class="col-sm-2" scope="col">
              Qty.
            </th>
            <th class="col-sm-6" scope="col">
              Item
            </th>
            <th class="col-sm-2 text-right" scope="col">
              Sell
            </th>
            <th class="col-sm-2 text-right" scope="col">
              Reprocess
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in ctrl.inventory">
            <td ng-bind="item.Quantity"></td>
            <td ng-bind="item.Item.Name"></td>
            <td class="isk" uib-tooltip-html="item.buyInfo" tooltip-append-to-body="true" ng-bind="ctrl.formatPrice(item)"
            ng-class="{'no-sale': item.noSale, 'better-price': item.buyPrice >= item.reproValue }"></td>
            <td class="isk" ng-bind="ctrl.formatRepro(item)"
            ng-class="{'no-sale': item.noReprocess, 'better-price': item.buyPrice <= item.reproValue }"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- ReprocessCtrl -->
  <div class="col-md-4">
    <div class="form-inline">
      <div class="form-group">
        <label>Calculate reprocessed value using:</label>
        <div id="btn_pricecalc" class="btn-group">
          <button class="btn btn-default" ng-change="ctrl.updatePriceCalc()"
            ng-model="ctrl.priceCalc" uib-btn-radio="'buy'">
            Buy
          </button>
          <button class="btn btn-default" ng-change="ctrl.updatePriceCalc()"
            ng-model="ctrl.priceCalc" uib-btn-radio="'midpoint'">
            Midpoint
          </button>
          <button class="btn btn-default" ng-change="ctrl.updatePriceCalc()"
            ng-model="ctrl.priceCalc" uib-btn-radio="'sell'">
            Sell
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="rep_multiplier">
          Reprocessing value multiplier:
        </label>
        <input type="number" id="rep_multiplier" name="multiplier" value="1.00"
        min="0.10" max="10.00" step="0.05" ng-model="ctrl.reproMultiplier"
        ng-change="ctrl.recalculateMineralPrices()">
      </div>
    </div>
    <p uib-collapse="ctrl.imputedArray.length">
      <span class="spinner spinner-xs spinner-inline"></span>
      Getting mineral prices...
    </p>
    <p uib-collapse="!ctrl.imputedArray.length">
      Imputed mineral prices (based on Jita {{ctrl.priceCalc}}):
      <table class="table table-striped">
        <tr ng-repeat="item in ctrl.imputedArray | orderBy:'name'">
          <td ng-bind="item.name"></td>
          <td class="isk" ng-bind="item.price | number:2"></td>
        </tr>
      </table>
    </p>
  </div>
</div> <!-- row 1 -->
